<div id="{{name}}"
     class="job build-status-{{jobStatus}}"
     data-title="{{name}}"
     data-job-status="{{jobStatus}}"
     data-priority="{{priority}}">
    <div class="row">
        <div class="col-md-12">
            <table>
                <tr>
                    <td style="vertical-align:top;">
                        {{#if revision}}
                            <div><a target="_blank" href="{{url}}{{buildNumber}}">{{revision}}-{{buildNumber}}</a></div>
                        {{/if}}
                        <div><a target="_blank" href="{{url}}">{{name}}</a></div>
                        <div class="test-report" {{#if shouldHideTestReport}}hidden{{/if}}>
                            <span>Passed: {{passCount}}</span>
                            <span>Failed: {{failCount}}</span>
                            <span>Ignored: {{skipCount}}</span>
                        </div>
                        <div class="timestamp" data-timestamp="{{timestamp}}">{{timeDifference}}</div>
                    </td>
                    <td style="vertical-align:top;">
                        {{#each comments}}
                            {{.}}<br/>
                        {{/each}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="progress" {{#if shouldHideProgressBar}}hidden{{/if}}>
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{jobCompletionPercentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{jobCompletionPercentage}}%">
                    <span class="sr-only">{{jobCompletionPercentage}}% Complete</span>
                </div>
            </div>
        </div>
    </div>
</div>